<div class="container">
  <div *ngIf="cards[currentIndex]" class="stack">
    <!-- seule la carte du dessus est interactive -->
    <div
      #hero
      class="hero"
      [style.--bg]="'url(' + cards[currentIndex].image + ')'"
      [class.dragging]="dragging"
      [class.animating]="animating"
      (pointerdown)="startDrag($event)"
      (pointermove)="onDrag($event)"
      (pointerup)="endDrag($event)"
      (pointercancel)="endDrag($event)"
      (click)="onClick()"
      [style.transform]="'translate(' + x + 'px, ' + y + 'px) rotate(' + rotation + 'deg)'"
    >
      <div class="title">{{ cards[currentIndex].title }}</div>

      <div class="meta">
        <div class="tag">{{ cards[currentIndex].tag }}</div>
        <div>{{ cards[currentIndex].episodes }}</div>
        <div class="rating">{{ cards[currentIndex].rating }}</div>
      </div>

      <div class="desc">{{ cards[currentIndex].desc }}</div>
      
    </div>
  </div>

</div>
