:host {
  position: relative;
  flex: 1;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.stack {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  top: 0;
  left: 0;
  width: 100%;
  position: relative;
  bottom: 0;
}

.hero {
  --bg: url(https://mediaproxy.tvtropes.org/width/1200/https://static.tvtropes.org/pmwiki/pub/images/madokamagicabig.png);
  position: relative;
  flex: 1;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--bg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 24px;
  color: white;
  user-select: none;
  touch-action: none;
  cursor: grab;
  transition: transform 50ms;
  box-sizing: border-box;
  margin: 0;
}

.hero::before {
  background: linear-gradient( to bottom, rgba(1, 1, 1, 0.2), rgba(1, 1, 1, 0.9019607843)), var(--bg) center/auto 100% no-repeat;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  backdrop-filter: blur(15px)  ;
}

.title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 12px;
}

.meta {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

.tag {
  background: #2f2f2f;
  padding: 6px 14px;
  border-radius: 999px;
  font-size: 14px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 15px;
}

.desc {
  font-size: 14px;
  line-height: 1.4;
  color: #ddd;
  margin-bottom: 100px;
}


.nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px; // menu fixe
  background: #111;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav span {
  color: #888;
  font-size: 24px;
}

.nav span.active {
  color: white;
}




.cross {
  height: 100%;
  width: fit-content;
  border-radius: 50%;
  border: 2px solid #ff6f56;
  position: relative;
  
}

.heart {
  height: 100%;
  width: fit-content;
  border-radius: 50%;
  border: 2px solid rgb(116, 255, 157);
  position: relative;
  
}

.icon_container{
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20%;

  height: 10%;
}



