<div class="container">
  <div 
    class="hero" 
    [ngStyle]="{'transform-origin': 'bottom center', 'transform': 'translateY(' + y + 'px) rotate(' + rotation + 'deg)'}"
    (pointerdown)="startDrag($event)"
    (pointermove)="onDrag($event)"
    (pointerup)="endDrag($event)"
    (pointercancel)="endDrag($event)"
  >
    <div class="title">Attack on Titan</div>

    <div class="meta">
      <div class="tag">Aventure</div>
      <div>54 épisodes</div>
      <div class="rating">⭐ 4.8</div>
    </div>

    <div class="desc">
      Des humains luttent pour leur survie contre des titans mangeurs
      d'hommes dans un monde…
    </div>

    <div class="eyes">
      <div class="eye"></div>
      <div class="eye"></div>
      <div class="eye"></div>
      <div class="eye"></div>
    </div>
  </div>
  <app-tab-bar></app-tab-bar>
</div>
