<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <div class="container">
    <div class="hero">
      <div class="title">Attack on Titan</div>

      <div class="meta">
        <div class="tag">Aventure</div>
        <div>54 épisodes</div>
        <div class="rating">⭐ 4.8</div>
      </div>

      <div class="desc">
        Des humains luttent pour leur survie contre des titans mangeurs
        d'hommes dans un monde…
      </div>

      <div class="eyes">
        <div class="eye"></div>
        <div class="eye"></div>
        <div class="eye"></div>
        <div class="eye"></div>
      </div>
    </div>

    <div class="nav">
      <a href="#"><span class="active"><mat-icon>home</mat-icon></span></a>
      <a href="#"><span><mat-icon>list</mat-icon></span></a>
      <a href="#"><span><mat-icon>person</mat-icon></span></a>
    </div>
    </div>
</body>