.section {
  margin-bottom: 25px;
  h3 {
    margin-left: 2%;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
  }
}

.custom-slider {
  position: relative;
  padding: 40px 0 10px;
  margin: 5%;

  input[type=range] {
    width: 100%;
    height: 12px;
    background: #efefef;
    border-radius: 10px;
    appearance: none;
    outline: none;
    accent-color: #ff2d55;
  }

  .icone-indicator {
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ff2d55;
    pointer-events: none;

    mat-icon {
      font-size: 11dvh;
      width: 11dvh;
      height: 11dvh;
    }

    .note-label {
      pointer-events: none;
      position: absolute;
      top: 2.5dvh;
      color: white;
      font-size: 4dvh;
      font-weight: bold;
    }
  }
}